nav#nav-tool.navbar.navbar-inverse.navbar-fixed-top
	form.navbar-form.navbar-right#meeting_form
		div.form-group
			input(type="text" name="display_name" id="display_name" value="WebSDK1.7.2#CDN" placeholder="Name" class="form-control" required)
		div.form-group
			input(type="text" name="meeting_number" id="meeting_number" value="" placeholder="Meeting Number" class="form-control" required)
		button(type="submit" class="btn btn-primary" id="join_meeting") Join
