extends layout
block page
	- var menu = 'login'
block content
	script(type="text/javascript" src="/scripts/jquery.min.js")
	script(type="text/javascript", src="/scripts/baseFunctions.js?v="+Math.random())
	div#vue
		div.wrapper.row.nav
			include partials/menu.pug
		//- div.container.row
		//- 	p.tb-font-l Enter username and password
		//- 	form.tb-10-m0(enctype="multipart/form-data", method="POST", action="/login" )
		//- 		input(type="hidden", name="_csrf", value= csrfToken)
		//- 
		//- 		div.row
		//- 			label.tb-10-m0(for="username") Username
		//- 			input.tb-10-m0(type="text", name="username", id="username", autocomplete="username")
		//- 		div.row
		//- 			label.tb-10-m0(for="password") Password
		//- 			input.tb-10-m0(type="password", name="password", id="password", autocomplete="current-password")
		//- 		p
		//- 		button.tb-10-m0.tb-03-m2.block(type="submit", ariaDescription="Log in")
		//- 			span Log in
		//- 		//-
		//- 		p.tb-font-xl.head First time here?
		//- 		a.block(href="/register", role="button", ariaDescription="Register") 
		//- 			span Register
			
			//- p.tb-font-xl or connect using Slack:
			//- p &nbsp
			//- a.tb-font-xl(href="/auth/slack", ariaDescription="Sign in with Slack", style="display:inline-block;height:auto;")
			//- 	img(src="https://api.slack.com/img/sign_in_with_slack.png")
			//- p &nbsp
			//- p.tb-font-xl First time authenticating?
			//- a.tb-10-m0.tb-03-m2.block.spacer.success(href="/register", title="Register")
			//- 	span(style="color:#fff;") Register
	
	include vue/profile.vue.pug