extends layout
block page
	- var menu = 'meetings'
block content
	script(type="text/javascript", src="/scripts/basefunctions.js?v="+Math.random())

	div#vue
		div.wrapper.nav
			include partials/menu.pug
		div.wrapper.main
			div.container
				//- (:style="{'white-space': (!hov ? 'normal' : 'nowrap'), overflow: 'hidden'}")
				//- (
				//- 	:style="{width: (!hov ? '71vw' : '88vw')}"
				//- )
				//- @mouseleave="deactivate(k)"
				a.ui.img(
					v-if="data && data !== '' && data.meetings.length > 0"
					v-for="(k, i) in keys"
					@click="dialog(k, i)"
					@mouseover="hover"
					@mouseleave="unhover"
					@touchstart="hover"
					@touchend="dialog(k, i)"
					:class="k === active ? 'active' : ''"
					:id="k"
					:style="{'background-color': c[i]}"
				)
					embed(v-if="k === active" :src="'/meeting/'+data.meetings[i].id")
					//- div#zmmtg-root(v-if="k === active")
					//- div#aria-notify-area(v-if="k === active")
					p(v-if="data.meetings" v-text="data.meetings[i].agenda")
					img(:src="'/images/icons/'+data.meetings[i].topic+'.svg'")
					

	include vue/meetings.vue.pug
