extends layout
block page
	- var menu = 'meeting'
block content
	script(type="text/javascript", src="/scripts/basefunctions.js?v="+Math.random())

	div#vue
		include partials/modal.pug

		div.wrapper.row.nav
			include partials/menu.pug

	include vue/meeting.vue.pug
