extends layout
block page
	- var menu = 'meetings'
block content
	script(type="text/javascript", src="/scripts/basefunctions.js?v="+Math.random())

	div#vue
		div.wrapper.nav
			include partials/menu.pug
		div.wrapper.main
			div.container
				div.ui.img(
					v-if="keys && keys !== '' && keys.length > 0"
					v-for="(k, i) in keys"
					@mouseover="activate(k)"
					@touchstart="activate(k)"
					@click="dialog(k)"
					@touchend="dialog(k)"
					@mouseleave="hov = null"
					:class="k === active ? 'active' : ''"
				)
					//- embed(v-if="data.meetings" :src="data.meetings[i].URL")
					p(v-if="data.meetings" v-text="data.meetings[i].topic")

	include vue/meetings.vue.pug
