extends layout
block page
	- var menu = 'profile'
block content
	script(type="text/javascript" src="/public/scripts/jquery.min.js")
	script(type="text/javascript", src="/public/scripts/baseFunctions.js?v="+Math.random())

	div#vue
		div.wrapper.row.nav
			include partials/menu.pug
		div.container.row(v-if="pu && pu !== ''")
			div.tb-05-m0
				div.ui.img
					img(:src="pu.pic_url" style="width: 100%;height: 100%;")
			
			include partials/puedit.pug
			//- div.tb-01-m0
			//- 	h1 &nbsp
			//- 	h4(style="height:1.5rem;" v-for="(key, i) in ['first_name','last_name','email','role_name','created_at','last_login_time','status']" v-text="key.replace(/\_/g,' ')")
			//- div.tb-04-m0
			//- 	h1 &nbsp
			//- 	h2(style="height:1.5rem;" v-for="(key, i) in ['first_name','last_name','email','role_name','created_at','last_login_time','status']" v-text="user[key] +' '")
			
	include vue/profile.vue.pug
					
