extends layout
block page
block content
	if (menu === 'home')
		script(type="text/javascript", src="/scripts/basefunctions.js?v="+Math.random())

	div#vue
		div.wrapper.row.nav
			include partials/menu.pug
		div.container
			if (menu === 'home')
				include vue/home.vue.pug
				include layouts/home.pug
			if (menu === 'meeting')
				include vue/meeting.vue.pug
				include layouts/meeting.pug
			if (menu === 'profile')
				include vue/profile.vue.pug
				include layouts/profile.pug
			if (menu === 'people')
				include vue/people.vue.pug
				include layouts/people.pug
			if (menu === 'edit')
				include vue/edit.vue.pug
				include layouts/edit.pug

