extends layout
block page
	- var menu = 'register'
block content
	script(type="text/javascript" src="/scripts/jquery.min.js")
	script(type="text/javascript", src="/scripts/baseFunctions.js?v="+Math.random())

	div#vue
		div.wrapper.row.nav
			include partials/menu.pug
		div.container.row
									
			div.tb-10-m0
			
				p.tb-font-xl.row.head Already Registered? 
				a.block(href="/login", role="button", ariaDescription="Log in")
					span Log in
				//- p &nbsp
				//- p.tb-font-xl or connect using Slack:
				//- p &nbsp
				//- a.tb-font-xl(href="/auth/slack", ariaDescription="Sign in with Slack", style="display:inline-block;height:auto;")
				//- 	img(src="https://api.slack.com/img/sign_in_with_slack.png")
				//- p &nbsp
				//- span.tb-font-xl or Register manually:
				//- include includes/profile/puedit.pug
				include partials/puedit.pug
	include vue/profile.vue.pug