extends layout
block page
	- var menu = 'people'
block content
	script(type="text/javascript" src="/scripts/jquery.min.js")
	script(type="text/javascript", src="/scripts/basefunctions.js?v="+Math.random())

	div#vue
		div.wrapper.row.nav
			include partials/menu.pug
		div.container
	include vue/group.vue.pug
