script(type="text/javascript").
	Vue.prototype.$ = $;
	Vue.prototype.window = window;
	new Vue({
		el: '#vue',
		data: function data(){
			return {
				darkmode: true,
				admin: this.parseObj(!{JSON.stringify(admin)}),
				pu: this.parseObj(!{JSON.stringify(pu)}),
				adminValidated: this.parseObj(!{JSON.stringify(admin)}),
				data: this.parseObj(JSON.stringify(data)),
				dropped: false,
				res: window.innerWidth < 600
			}
		},
		mounted: function(){
			$(document).ready(function(){
				//- document.addEventListener('keydown', function(event) {
				//- 	var keyName = event.key;
				//- 	if (keyName === 'Enter') event.preventDefault()
				//- });
			})
			var self = this;
			self.appendStyleRoot()

		},
		methods: Object.assign({}, baseFunctions)
	});

