script(src="https://unpkg.com/vue-router/dist/vue-router.js")
script(type="text/javascript").
	Vue.prototype.$ = $;
	Vue.prototype.window = window;
	Vue.prototype.marked = marked;
	var router = new VueRouter({
		mode: 'history',
		scrollBehavior: function(to, from, savedPosition) {
			if (to.hash) {
				this.app.active = to.hash.slice(1);
				//- this.app.hov = to.hash.slice(1);
			} else {
				this.app.active = null;
				//- this.app.hov = null;
			}
			//- console.log(to.hash)
			return false;
		},
		routes: [
				{path: '/meetings'},
		]
	})
	new Vue({
		router,
		el: '#vue',
		data: function data(){
			return {
				admin: this.parseObj(!{JSON.stringify(admin)}),
				c: ["#a6cee3","#1f78b4","#b2df8a","#33a02c","#6a3d9a","#b15928","#1f77b4","#ff7f0e","#2ca02c","#d62728","#9467bd","#8c564b","#e377c2","#7f7f7f","#bcbd22","#17becf"],
				keys: '',
				active: null,
				hov: false,
				data: this.parseObj(!{JSON.stringify(data)}),
				userName: this.parseObj(!{JSON.stringify(userName)}),
				dropped: false,
				wWidth: window.innerWidth,
				wHeight: window.innerHeight,
				res: window.innerWidth < 600,
			}
		},
		beforeDestroy: function() {
			var self = this;
			window.removeEventListener('resize', self.handleResize);
		},
		mounted: function(){
			var self = this;
			window.addEventListener('resize', self.handleResize);
			$(document).ready(function(){
				document.addEventListener('keydown', function(event) {
					var keyName = event.key;
					if (keyName === 'Enter') event.preventDefault()
				});
			})
			self.keys = self.data.map(function(doc) {
				return doc.topic;
			});
		},
		methods: Object.assign({}, baseFunctions)
	});
