script(type="text/javascript").
	Vue.prototype.$ = $;
	Vue.prototype.window = window;
	new Vue({
		el: '#vue',
		data: function data(){
			return {
				keys: '',
				active: null,
				hov: null,
				data: this.parseObj(!{JSON.stringify(data)})
			}
		},
		mounted: function(){
			$(document).ready(function(){
				//- document.addEventListener('keydown', function(event) {
				//- 	var keyName = event.key;
				//- 	if (keyName === 'Enter') event.preventDefault()
				//- });
			})
			this.keys = this.data.meetings.map(function(doc) {
				return doc.topic;
			});
		},
		methods: Object.assign({}, baseFunctions)
	});
