script(type="text/javascript").
	Vue.prototype.$ = $;
	Vue.prototype.window = window;
	new Vue({
		el: '#vue',
		data: function data(){
			return {
				admin: this.parseObj(!{JSON.stringify(admin)}),
				adminValidated: this.parseObj(!{JSON.stringify(admin)}),
				user: this.parseObj(!{JSON.stringify(user)}),
				dropped: false,
				res: window.innerWidth < 600
			}
		},
		mounted: function(){
			$(document).ready(function(){
				//- document.addEventListener('keydown', function(event) {
				//- 	var keyName = event.key;
				//- 	if (keyName === 'Enter') event.preventDefault()
				//- });
			})

		},
		methods: Object.assign({}, baseFunctions)
	});

