@import url('https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600|Roboto:300,300i,400,400i,700,700i&display=swap');
@import "mixins/loader";
@import './globals.scss';
// Add custom styles here

html {
	font-size: 14pt;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}
body {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	color: $lightgray;
	background-color: $black;
	font-family: $ffbody;
	font-weight: 300;
	font-size: 1rem;
}
#vue {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
}
input, select, textarea, .textarea {
	@include vendor('appearance', 'none');
	color: $black;
	font-family: $ffbody;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.65;
	margin: 0 0 1rem 0;
}

.textarea {
	padding: 12px 6px;
	padding: var(--gutter) 0 calc(var(--gutter) * 0.5) 0;
	background-color: $lightgray;
	> p {
		padding: 12px 6px;
		padding: var(--gutter) calc(var(--gutter) * 0.5);
	}
}
strong, b {
	font-weight: 500;
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 var(--gutter) 0;
}

small {
	font-size: 0.6rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $ffheadline;
	color: $lightgray;
	font-weight: 200;
	line-height: 0.8;
	margin: 0 0 var(--gutter) 0;
	letter-spacing: 0.03em;
	padding-top: 0.2rem;
	a {
		color: inherit;
		text-decoration: none;
	}

	&.major {
		text-transform: uppercase;
		width: -moz-max-content;
		width: -webkit-max-content;
		width: -ms-max-content;
		width: max-content;
		margin: 0 0 var(--gutter) 0;
		z-index: 9;
	}
}

h1, .tb-font-xl {
	// font-family: $ffheadline;
	font-size: 2.2rem;
	opacity: 0.5;
	color: $lightgray;
}
// 
// .headline {
// 	font-size: 3rem;
// 	position: relative;
// }

h2, .tb-font-l {
	font-size: 1.4rem;
	line-height: 1.4;
	letter-spacing: 0.02em;
}

h3, .tb-font-m {
	font-size: 1rem;
}

h4, .tb-font-s {
	font-size: 0.8rem;
}

h5, .tb-font-xs {
	font-size: 0.74rem;
}

h6 {
	font-size: 0.6rem;
	line-height: 1;
}

p {
	font-family: $ffbody;
	line-height: 130%!important;
	height: auto;
	font-weight: 100!important;
	letter-spacing: 0.03em;
	font-size: 0.74rem!important;
	opacity: 0.7;
}

a {
	text-decoration: none;
}
/* Button */


input[type="submit"],
input[type="reset"],
input[type="button"],
button,
a[role="button"],
.button {
	color: $lightgray;
	font-family: $ffheadline;
	@include vendor('appearance', 'none');
	@include vendor('transition', 'background-color 2s ease-in-out, color 2s ease-in-out');
	background-color: transparent;
	border: 1px solid $lightgray;
	box-shadow: inset 0 0 0 1px $black;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8rem;
	outline: 0;
	padding: 1rem;
	margin: 0 0 1rem 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	// width: 100%;
	letter-spacing: 0.09em;
	
	&:hover {
	}

	&:active {
	}

	&.icon {
		&:before {
			margin-right: 0.5em;
		}
	}

	&.fit {
		display: block;
		margin: 0 0 1em 0;
	}
	&.special {
		background-color: $lightgray;
		color: $black;
		margin: var(--thumbw) 0;
		&:hover {
			background-color: #fff;
			color: black;
		}
	}
	&.disabled,
	&:disabled {
		@include vendor('pointer-events', 'none');
		cursor: default;
		opacity: 0.25;
	}
}

input[type="submit"],
input[type="reset"],
input[type="button"],
a[role="button"],
button {
	line-height: calc(1em - 2px);
}

nav {
	margin: 2rem 0.5rem;
	z-index: 9;
	position: fixed;
	width: calc(100% - 1rem);
	path {
		fill: $lightgray;
	}
	.dropdown {
		background-color: $gray;
		padding: 1.5rem 0;
		margin: 0.5rem;
		@include vendor('box-shadow', '0px 0px 1rem 1rem rgba(0,0,0,0.5)');
		ul {
			li {
				list-style-type: none;
				height: 2rem;
				a {
					text-decoration: none;
					color: $lightgray;
					line-height: 1.5rem;
					&:hover {
						color: #fff;
					}
				}
			}
		}
	}
	@media (min-width: 600px) {
		margin: 0;
		width: 100%;

		.dropdown {
			margin: 0;
			padding: 0.15rem 0;
			li {
				display: inline-block;
				margin: 0 1.5rem;
				height: 1.5rem;
			}
		}
	}
}

div[aria-label="Chat Message List"] {
	height: auto;
	min-height: 100px;
}
@import './grid.scss';
